//Bootstrap Imports
@import "G:\\My Drive\\IT Projects\\Websites\\Source\\bootstrap-4.3.1\\scss\\bootstrap";

// Custom CSS
html, body {
	height: 100%;
}

#clockPage{
	background-color: black;
}

#clockDisplay{
	color: white;
	font-size: 11rem;
	// font-weight: 500;
}

#clockText {
	color: white;
	font-size: 12rem;
}