

//Bootstrap Imports
@import "G:\\My Drive\\To sort\\IT Projects\\Websites\\Source\\bootstrap-4.3.1\\scss\\bootstrap";


// Bootstrap Variable Override
$enable-responsive-font-sizes: true;
// Custom CSS
html, body {
	height: 100%;
}

#clockPage{
	background-color: black;
}

h4.customClock{
	color: white;
	font-size: 10vw;
}

h1.standardClock{
	color: white;
	font-size: 15vw;
}

#clockText {
	color: white;
	font-family: Calibri;
	font-weight: bold;
	.title {
		font-size: 5vw;
		// font-weight: bold;
	}
	.time-heading {
		font-size: 48px;
		font-weight: bold;
	}
}

